.aviso{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    color: #bdc3c7;
   
}

.arrow{
    width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.imageList{
    width: 100%;
    height: 80%;
}